.jumbotron {
    max-width: 100%;
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container__public {
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 50px 70px;
}

.public--header {
    font-size: 70px;
    color: black;
    font-weight: 700;
    text-shadow: 2px 7px 5px rgba(0,0,0,0.3), 0px -4px 10px rgba(255,255,255,0.3);
}

.public--button {
    border-radius: 40px;
    font-size: 40px;
    padding: 30px 0;
    letter-spacing: 2.5px;
    font-weight: 700;
    color: #000;
    background-color: rgb(255, 255, 255, .6);
    border: none;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.public--button:hover {
    background-color: black;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
    color: #fff;
    transform: translateY(-15px);
    font-weight: 900;
}

